.nav-wrapper {
  padding-left: 10px;
  background-color: #bbb;

  .nav-button {
    outline: 0;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    background: Transparent;

    &:hover {
      background: #ddd;
    }

    &.active {
      background-color: #ddeeff;
      border: 1px solid #ddeeff;
    }
  }
}

